<%= render :partial => 'form'%>
<div id="answer">
<h1><%= @entry.address%></h1>

<p>is now accessible via: <input type="url" value="http://<%= request.host %>/<%=  @entry.minified %>" size="15" /></p>

<p><%= image_tag("http://#{request.host}/#{@entry.minified}.qr")  %> code for this QR tag:
  <textarea><%= image_tag("http://#{request.host}/#{@entry.minified}.qr") %></textarea>
</p>

<p>link stats <a href="<%= info_path(@entry.minified)%>"> here</a></p>
</div>
