<%= render :partial => 'form'%>
<h1><%= @showurl.address %></h1>
<div id="stats">
  <ul>
  <li><%= image_tag(@chart)  %></li>
  <% @showurl.views.each do |view|  %>
  <li> <%= view.created_at %> / <%= view.user_agent %> </li>
  <% end %>
</ul>
</div>
