<div id="answer">
<table>
  <tr>
    <th> ID &nbsp; </th>
    <th> &nbsp; minified url </th>
    <th> address </th>
    <th> created at </th>
    <th> info </th>
  </tr>
<% @urls.each do |u| %>
  <tr>
    <td> <%= u.id %> </td>
    <td> <%= u.minified %> </td>
    <td> <%=link_to(u.address,root_path+u.minified) %></td>
    <td> <%= u.created_at.strftime('%d %b %Y - %H:%M') %> </td>
    <td> <%=link_to('info',info_path(u.minified)) %>
  </tr>
<% end %>
</table>
</div>  
