<div id="answer">
  <p> There are <b><%= @urls.count %></b> minified urls, and a total of <b><%= @views %></b> views. </p>
  
<table>
  <tr>
    <th> ID &nbsp; </th>
    <th> &nbsp; minified url </th>
    <th> address </th>
    <th> created at </th>
    <th> total views </th>
    <th> views/day</th>
    <th> last 31 days</th>
    <th> last view </th>
  </tr>
<% @urls.each do |u| %>
  <tr>
    <td> <%= u.id %> </td>
    <td> <%= u.minified %> </td>
    <td> <%=link_to(truncate(u.address, :length=>70, :omission => '...'),root_path+u.minified) %></td>
    <td> <%= u.created_at.strftime('%d %b %Y - %H:%M') %> </td>
    <td> <%= u.views.all.count %></td>
    <td> <%= (u.views.all.count/((Time.now - u.created_at)/86400)).round(2)%></td>
    <td> <%= u.get_views(31)%></td>
    <% if(u.views.last.nil?) %>
    <td> not available </td>
    <% else %>
    <td> <%= u.views.last.created_at.strftime('%d %b %Y - %H:%M') %> </td>
    <%end%>
  <td> <%=link_to('graph',info_path(u.minified)) %>
  </tr>
<% end %>
</table>
</div>  
