<!DOCTYPE html> 
<html lang="en"> 

  <head> 
    <title>tux.it url shortener</title>
    <meta charset=utf-8 /> 
    <meta name="keywords" content="tux, url shortner " />
    <meta name="author" content="Enrico Rubboli - template by Roberto Kalamun Pasini" />
    <meta name="revisit-after" content="7 days" />
    <link rel="shortcut icon" href="/favicon.png" />
    <%= csrf_meta_tag %>    
    <%= stylesheet_link_tag 'stile' %>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
    	google.load("jquery", "1.4.3");
      
      function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
      
    </script>
    <%= javascript_include_tag 'rails' %>
  </head>
  
  <body onLoad="MM_preloadImages('images/pulsante2.png')">
    <%= flash_div %>
    
    <div style="width:100%; position:fixed; top:0; height:80px; text-align:center; background-color: #4E4D4D"><a href="http://tux.it"><img src="images/titolo.png" alt="tux.it URL shortener" align="absmiddle" style="margin:0 -5em 0 -5em; width:315"></a></div>
    <div id="header" style="background-color:#FFD137"><h2>URL SHORTENER</h2></div>
    <div id="block"><p>Enter the URL:</p>
    
    <div id="container" style="text-align:center">
      <%= yield %>
    </div>
    </div>
    <footer>
	<div id="footer">
		<div class="footer1">
			<a href="http://www.rubboli.it/">Enrico Rubboli</a> | designed by 
			<a href="http://www.giuseppe.gerbino.it">Giuseppe Gerbino</a> |  hosted by 
			<a href="http://www.heroku.com">Heroku</a> | webfont by 
			<a href="http://www.josbuivenga.demon.nl/">Exljbris</a>
    		</div>
    		<div class="footer2"> 
          		<a href="http://github.com/dn2k/tux.it">source code</a> | 
			<a href="http://github.com/dn2k/tux.it/issues"> report a bug </a>+
		</div>
    	</div>
    <a href="http://www.tux.it"><img style="position:fixed; bottom:0; left:0.2em; border:0;" src="images/tuxbig.png" alt="Tux.it, the URL shortner" /></a> 
    </footer>
    
  <script>    
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-534341-8']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  </script>

  </body>
</html>
